* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/Oslo.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: white;
}

/* .content {

} */

.header {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.2em;
}

.display-none {
  display: none;
}

ul {
  text-align: center;
  font-size: 1.5em;
  background: #5643fa;
}

ul li {
  display: inline-block;
  padding: 0 5em;
  cursor: pointer;
}

.listItem {
  background: rgba(0, 0, 0, 0.322);
}

.diningDiv {
  background: rgba(0, 0, 0, 0.322);
  font-size: 1.5em;
  line-height: 1.7;
  text-align: center;
  height: auto;
  padding: 5em;
}

/* Contact */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}

form input {
  width: 50%;
  height: 3em;
  margin: 0.5em;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #3f3f3f;
}

input:not(:last-child) {
  padding-left: 1em;
  font-size: 1em;
}

.button {
  width: 5em;
  color: white;
  background: cornflowerblue;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

/* Menu */

.menu-div {
  padding-top: 1em;
}

.recipe-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.delicacy {
  background: rgba(255, 255, 255, 0.78);
  height: 15em;
  width: 30%;
  border-radius: 5px;
  padding: 5px;
}

.delicacy img {
  width: 100%;
  height: 50%;
}

.order-btn {
  width: 100%;
  cursor: pointer;
  background: #5643fa;
  font-size: 1em;
  border-radius: 3px;
  border: none;
  padding: 0.5em 1em;
  color: white;
}

.order-btn:hover {
  color: #5643fa;
  background: white;
  border: 1px solid #5643fa;
}

.price-text {
  font-size: 1em;
  color: #3f3f3f;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1em 0;
}
