* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: url('./Oslo.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

 /* .content {

} */

.header {
  font-size: 5em;
 font-weight: bold;
 text-align: center;
 padding-top: .2em;
 border: 2px solid red;
}

ul {
  border: 2px solid #0f0;
  text-align: center;
  font-size: 1.5em;
}

ul li {
  display: inline-block;
  padding: 0 5em;
  border: 4px solid indigo;
  cursor: pointer;
}

.listItem {
  background: rgba(0, 0, 0, 0.322);
}

.diningDiv {
  background: rgba(0, 0, 0, 0.322);
  font-size: 1.5em;
  line-height: 1.7;
  text-align: center;
  height: 79vh;
  padding: 5em;
}


/* Contact */

form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: .5em;
margin-top: 5em;
}

form input {
  width: 50%;
  height: 3em;
  margin: .5em;
  border: none;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  padding: 1em;
  color: #3f3f3f;
  font-size: 1.5em;
}

.button {
  width: 5em;
  color: white;
  background: cornflowerblue;
  margin: 0 auto;
  cursor: pointer;
  border: none;

}