* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: url('./Oslo.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

 /* .content {

} */

.header {
  font-size: 5em;
 font-weight: bold;
 text-align: center;
 padding-top: .2em;
 border: 2px solid red;
}

ul {
  border: 2px solid #0f0;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 1em;
}
li + li {
  margin-left: 15em;
}